<html>
    <head>
        <meta charset="utf-8">
        <title>Render test form</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">

            <h1>Render test form</h1>

            <form action="{{ path('render-file', { apiKey: exportDefinition.apiKey }) }}" method="POST">
                <p>
                    <button class="btn btn-primary btn-block btn-lg" type="submit">Send</button>
                </p>

                <dl class="dl-horizontal">
                    <dt>ID</dt>
                    <dd>{{ exportDefinition.id }}</dd>
                    <dt>Name</dt>
                    <dd>{{ exportDefinition.name }}</dd>
                    <dt>ApiKey</dt>
                    <dd>{{ exportDefinition.apiKey }}</dd>
                    <dt>Files</dt>
                    <dd>
                        <ul>
                        {% for f in exportDefinition.files %}
                            <li>{{ f.fileName }}</li>
                        {% endfor %}
                        </ul>
                    </dd>
                    <dt>Parameters</dt>
                    <dd>
                        <textarea name="parameters" id="parameters" cols="80" rows="20" class="form-control" style="font-family: monospace;">{{ exportDefinition.parameters|json_encode(constant('JSON_PRETTY_PRINT')) }}</textarea>
                    </dd>
                    <dt>Template</dt>
                    <dd>
                        <pre>{{ exportDefinition.template }}</pre>
                    </dd>
                </dl>

                <p>
                    <button class="btn btn-primary btn-block btn-lg" type="submit">Send</button>
                </p>
            </form>

        </div>
    </body>
</html>
